<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="header1">
    <p class="h5 my-0 me-md-auto fw-normal">Let's know about Japan</p>

    <div class="jumbotron"> 
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" href="#"><%= link_to 'ホーム', root_path %></a>
      <a class="p-2 text-dark" href="#"><%= link_to 'みんなのとうこう', wants_path %></a>
      <a class="p-2 text-dark" href="#"><%= link_to 'プロフィール', user_path(current_user) %></a>
      <a class="p-2 text-dark" href="#"><%= link_to 'ログアウト', logout_path, method: :delete %></a>
    </nav>
  </div>
  </header>

 
 
  <h1 class="text-center" id="section1h1">プロフィール</h1>

      <div class="container d-flex align-items-center" id="profile1">
       
        <% if current_user %>
        
         <div id="profile-left" class="container">
           <img class="rounded me-2 rounded-circle" src="<%= gravatar_url(@user, { size: 200 }) %>" alt="">
            <ul id="section1ul1">
              <li><%= @user.name %></li>
              <li><%= link_to '編集', edit_user_path(@user) %></li>
            </ul>
            
           <ul id="section1ul2">
             <li><%= @count_followings %></li>
             <li><a href="<%= followings_user_path(@user) %>">Following</a></li>
             <li><%= @count_followers %></li>
             <li><a href="<%= followers_user_path(@user) %>">Follwers</a></li>
             <li><%= @count_likes %></li>
             <li><a href="<%= likes_user_path(@user) %>">Favorite</a></li>
           </ul>
           <a href="" id="section1a1">Followerのとうこう</a>
           <p class="" id="follow_button"><%= render 'relationships/follow_button', user: @user %></p>
         </div>
                                               
      <div id="profile-right" class="container mt-5 mx-5"> 
        <% if @wants.any? %>
        <ul class="list-unstyled mx-3 mt-3">
        <% @wants.each do |want| %>
          <% if current_user == want.user %>
            <p><%= link_to '削除', want, method: :delete, data: { confirm: 'You sure?' } %></p>
            <% end %>
          <li class="mb-5 d-flex">
        
         <!--< image_tag want.prefecture.image, alt: “”, id: “”, class: “”, width: “” %>-->
         <img src="https://lh5.googleusercontent.com/p/AF1QipNFJ6k1LEn4uuqKoQ-A-UvwjfpiK6ykC1pdDD_f=w408-h305-k-no">
         <ul id="ul3">
           <li class="mx-5"><%= want.prefecture.name %></li>
           <li class="mx-5 mt-5"><%= want.content %></li>
         </ul>
           
         </li>
    
       <% end %>
       <%== pagy_bootstrap_nav(@pagy) %>
      
      </ul>
        
       <% end %>
        </div>
     </div>
 
  <p id="btn3"><%= link_to 'ついかする', new_want_path, class: 'btn btn-primary' %></p>
  
  
<% else %>
  <p>これは他のユーザーです。</p>
<% end %>


  <div class="text-center btn btn-primary" id="a3">
  <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' %>
</div>


<footer>
  <div id="footer-left">
    <ul id="footerul">
     <li><a href="">ホーム</a></li>
     <li><a href="">みんなのとうこう</a></li>
     <li><a href="">プロフィール</a></li>
     <li><a href="">ログアウト</a></li>
    </ul>
  </div>

  <div id="footer-right">
   
  </div>

</footer>
